<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <title>{% pageTitle "" %}</title>
  <meta name="description" content="{% pageDescription '' %}">
  <link rel="canonical" href="{% canonicalURL '' %}">
  {% openGraph '' -%}
  {% twitterCard '' -%}
  <link rel="stylesheet" href="/style.css?v={% buildTime %}" type="text/css">
  <script defer src="/js/alpine.js?v={{ packages.alpine }}"></script>
</head>
